<br/>
<br/>
<h2>Details for nozzle</h2>
<br/>
<br/>
<p>Item
	<%=  nozzle._id %>
</p>
<p>
	<%=  nozzle.name %>
</p>
<p>
	<%=  nozzle.price %> per
		<%=  nozzle.unit %>
</p>
<br/>
<form method="get" action="/nozzle">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
