<br/>
<br/>
<h2>Details for roofing basecoat</h2>
<br/>
<br/>
<p>Item
	<%=  hammer._id %>
</p>
<p>
	<%=  hammer.name %>
</p>
<p>
	<%=  hammer.price %> per
		<%=  hammer.unit %>
</p>
<br/>
<form method="get" action="/hammer">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
