<br/>
<br/>
<h2>Details for tapemeasure</h2>
<br/>
<br/>
<p>Item
	<%=  tapemeasure._id %>
</p>
<p>
	<%=  tapemeasure.name %>
</p>
<p>
	<%=  tapemeasure.price %> per
		<%=  tapemeasure.unit %>
</p>
<br/>
<form method="get" action="/tapemeasure">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
