<br/>
<br/>
<h2>Details for tapemeasures</h2>
<br/>
<br/>
<p>Item
	<%=  tapemeasures._id %>
</p>
<p>
	<%=  tapemeasures.name %>
</p>
<p>
	<%=  tapemeasures.price %> per
		<%=  tapemeasures.unit %>
</p>
<br/>
<form method="get" action="/tapemeasures">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
