<!-- P2-2 Caleb Bertels and Caroline Pickett -->
<div class="jumbotron jumbotron-background">
      <div class="container">
        <h2>Contact Info</h2>
          <a class="btn btn-primary" href="tel:+1-913-634-2588" role="button"> Phone </a>
          <!-- 6522 Flint St #202 Shawnee, KS. 66203 -->
          <a class="btn btn-primary" href="https://goo.gl/maps/P2eAyS4idmt" role="button"> Address </a>
          <a class ="btn btn-primary" href="mailto:curt.carpenter0@gmail.com" role="button">Email</a>
          <a class="btn btn-primary" href="https://www.facebook.com/CG-Coatings-104818302930011/" role="button">Facebook</a>
      </div>
    </div>