<!-- P2-2 Caleb Bertels and Caroline Pickett -->
<div class="jumbotron jumbotron-background">
      <div class="container">
        <h2>Contact Info</h2>
          <p> Phone - 913-634-2588 </p>
          <p> Email - curt.carpenter0@gmail.com </p>
          <p> Address - 6522 Flint St #202 Shawnee, KS. 66203 </p>
          </p>
          <a class="btn btn-primary" href="https://www.facebook.com/CG-Coatings-104818302930011/" role="button">Facebook</a>
      </div>
    </div>