<!-- P2-10 Jordan Nazario && Hunter Turley -->

<h2>Potential Clients</h2>

<table class="table" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Customer Name</th>
					<th>Customer Address</th>
					<th>Placeholder</th>
					<th>Placeholder</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td>1</td>
						<td>Jordan Nazario</td>
						<td>123 Fake Address Street</td>
						<td>Placeholder</td>
						<td>Placeholder</td>
					</tr>
			</tbody>
		</table>