//Dev-Team P4-2
//Rupraj Bhandari, Aadit Yadav
<h3>Waterproofing Materials</h3>
//waterproofingEstimates: <%=  estimate.waterproofing.waterproofingEstimates %><br/>

 <% include ../estimateparts/fg-waterproofing1 %>
 <% include ../estimateparts/fg-waterproofing3 %>
 <% include ../estimateparts/fg-waterproofing_basecoat %>

  

