<h3>Aggregate</h3>

IsUsed: <%=  estimate.aggregate.isUsed ? 'true' : 'false' %><br/>
Type: <%=  estimate.aggregate.aggregateTypeSelection %><br/>
Selection: <%=  estimate.aggregate.aggregateMaterialSelection %><br/>
Coverage: <%=  estimate.aggregate.coverageSqFt %><br/>

