<div id = parent>
  <div class="col-xs-3">
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" value="<%= e.description %>" placeholder="Description" required>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <label for="lengthFeet">Length (ft)</label>
      <input type="number" class="form-control" id="lengthFeet" name="lengthFeet" value="<%= e.lengthFeet %>" min=0 max=50000 required>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
      <label for="widthFeet">Width (ft)</label>
      <input type="number" class="form-control" id="widthFeet" name="widthFeet" value="<%= e.widthFeet %>" min=0 max=50000 required>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="form-group">
    <label for="buttons">Options</label>
      <div >
        <button class="btn btn-danger" onclick="removeSFootage()">Delete</button>
      </div>
    </div>
  </div>
</div>
<div>
  <input type="button" class="btn btn-primary" value="Add Area" onclick="addSFootage()"/>
  <br/>
</div>
<script> removeSFootage  = function(){
  alert("Delete pressed!");
}
</script>

<script> addSFootage = function(){
  alert("Add pressed!");
  var childDiv = document.createElement("div");
  childDiv.innerHTML = document.getElementById("parent").innerHTML;
  document.getElementById("parent").appendChild(childDiv);
}
</script>
<!-- P2-1 David Bruce, Cassandra Baldus -->
