<hr>
<h2>Square Footage</h2>
<hr>
<% for(var i=0; i<estimate.areas.length; i++) { e = estimate.areas[i];  %>
   <% include fg-footage-entry.ejs %>
<% } %>
<button class="btn btn-primary">Add Area</button>
<br/>
<!-- P2-1 David Bruce, Cassandra Baldus -->
