<div class="col-xs-4">
  <div class="form-group">
    <label for="description">Desc</label>
    <input type="text" class="form-control" id="description" name="description" value="<%= e.description %>" placeholder="Description" required>
  </div>
</div>
<div class="col-xs-4">
  <div class="form-group">
    <label for="lengthFeet">Len (ft)</label>
    <input type="number" class="form-control" id="lengthFeet" name="lengthFeet" value="<%= e.lengthFeet %>" min=0 max=50000 required>
  </div>
</div>
<div class="col-xs-4">
  <div class="form-group">
    <label for="widthFeet">Wid (ft)</label>
    <input type="number" class="form-control" id="widthFeet" name="widthFeet" value="<%= e.widthFeet %>" min=0 max=50000 required>
  </div>
</div>

<!-- P2-1 David Bruce, Cassandra Baldus -->
