<!-- P3-3 Devin Miller & Unnathi VallapuReddy -->
<hr>
<h2>Labor Costs</h2>
<hr>


<div id = "laborCosts">
    <div id = "LaborCostsEntries"
        <% for(var i=0; i<estimate.laborEntries.length; i++) { e = estimate.laborEntries[i];  %>
            <% include fg-labor-entry.ejs %>
            <% if(i === estimate.laborEntries.length - 1){ %>
                <div id = "countOfEntries"><%=i%></div>
            <% } %>
        <% } %>
    </div>
</div>

<div>
    <input type = "button" class = "btn btn-primary" value="Add Labor" onclick="addLaborEntry()"><br/>
</div>

<!-- Labor entry removal script -->
<script>
    removeLaborEntry = function(fieldToRemove){
        document.getElementById(fieldToRemove).remove();
    }
</script>

<!-- HTML of the blank labor section -->
<script>
    addLaborEntry = function(){
        var child = document.createElement("div");
        child.innerHTML = document.getElementById("blankLabor").innerHTML;
        var pValue = parseInt(document.getElementById("countOfEntries").innerHTML);
        var nValue = pValue + 1;
        document.getElementById("countOfEntries").innerHTML = nValue;
        child.id = "Labor" + nValue;
        document.getElementById("LaborCostsEntries").appendChild(child);
        document.getElementById("deleteButton").id = "deleteButton" + nValue;
        document.getElementById("deleteButton" + nValue).setAttribute("value","Labor" + nValue);
    }
</script>


<!-- HTML of the blank labor section -->
<div id = "blankLabor">
<div class="col-xs-2">
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" value="Description" placeholder="Add description" required>
  </div>
</div>
<div class="col-xs-2">
  <div class="form-group">
    <label for="count">Count</label>
    <input type="number" class="form-control" id="count" name="count" min=0 max=10 value="2" required>
  </div>
</div>
<div class="col-xs-2">
  <div class="form-group">
    <label for="hoursPerPerson">Hrs/Ppl</label>
    <input type="number" class="form-control" id="hoursPerPerson" name="hoursPerPerson" min=0 max=1000 value="16" required>
  </div>
</div>
<div class="col-xs-2">
  <div class="form-group">
    <label for="dollarsPerHour">$/hr</label>
    <input type="number" class="form-control" id="dollarsPerHour" name="dollarsPerHour" value="15.0" min=0.00 max=100.00 required>
  </div>
</div>
<div class="col-xs-1">
  <div class="form-group">
    <label for="nightsPerPerson">Nights</label>
    <input type="number" class="form-control" id="nightsPerPerson" name="nightsPerPerson" value="2" min=0 max=100 required>
  </div>
</div>
<div class="col-xs-2">
  <div class="form-group">
    <label for="roomCost">$/rm</label>
    <input type="number" class="form-control" id="roomCost" name="roomCost" value="80" min=0 max=200  required>
  </div>
</div>
<div class="col-xs-1">
    <div class="form-group">
    <label for="buttons">Options</label>
      <div >
        <button id="deleteButton" class="btn btn-danger" onclick="removeLaborEntry(this.value)">Delete</button>
      </div>
    </div>
  </div>
</div>


<!-- Stying of the new blank labor section -->
<style>
    #countOfEntries {visibility: hidden; height: 0px;}
    #blankLabor {visibility: hidden;}
</style>