<!-- P3-3 Devin Miller & Unnathi VallapuReddy --!>
<hr>
<h2>Labor Costs</h2>
<hr>
<% for(var i=0; i<estimate.laborEntries.length; i++) { e = estimate.laborEntries[i];  %>
   <% include fg-labor-entry.ejs %>
<% } %>
<br/>
<hr>