<!-- P4-1 Gopi Sai Krishna Lemati & Yeshwanth Rao Rangineni -->
<hr>
<h2>Miscellaneous Costs</h2>
<hr>
<% var ii=5 %>
<% origcount=estimate.miscellaneousEntries.length; temp="misc"; %>
<% for(var i=1; i<5; i++) {   %>
<div class="col-xs-6">
  <div class="form-group">
    <label for="description">Miscellaneous <%=i%></label>
    <input type="text" class="form-control" id="description" name="miscdescription<%=i%>"  placeholder="misc"  value="misc">
  </div>
</div>
<div class="col-xs-6">
  <div class="form-group">
    <label for="cost">Cost</label>
    <input type="number" class="form-control" id= "misc<%= i %>" step="any" value="misc" name="cost" min=0 max=500000 >
  </div>
</div>



<% } %>
<div id="addition"></div>
<div><p>Total Miscellaneous Cost incurred: </p></div>
<div id="parent"></div></br></br>
<input type="button" class="btn btn-primary" value="Add misc" id="addingon" > </br> </br>
<input type="button" class="btn btn-primary" value="Add subtotal" id="addMiscellaneou" >
<script>

$(function(){
var m=5;

    $('#addingon').click(function(){

$("#addition").append("<div class='col-xs-6'> <div class='form-group'> <label for='description'>Miscellaneous </label> <input type='text' class='form-control' id='description' name='miscdescription'  placeholder='misc'  value='misc'></input> </div> </div> <div class='col-xs-6'> <div class='form-group'> <label for='cost'>Cost</label> <input type='number' class='form-control' id= 'misc"+m+"' step='any' value='misc' name='cost' min=0 max=500000 ></input> </div> </div>");
  m=m+1;
});

var count = 0;
  $('#addMiscellaneou').click(function(){
var s=0;

for(var j=1;j<m;j++)
{
s=s+parseInt($( "#misc"+j ).val());

}

document.getElementById("parent").innerHTML=s;
    
  });

});


  
</script>


<br/>