<!-- p1-4 Yeshwanth Rao Rangineni and Gopi Sai Krishna Lemati-->
<hr>
<h2>Miscellaneous Costs</h2>
<hr>
<% for(var i=0; i<estimate.miscellaneousEntries.length; i++) { e = estimate.miscellaneousEntries[i];  %>
   <% include fg-misc-entry.ejs %>
<% } %>
<br/>
