<hr>
<h2>Mileage Costs</h2>
<hr>
<% for(var i=0; i<estimate.mileageEntries.length; i++) { e = estimate.mileageEntries[i];  %>
   <% include fg-mileage-entry.ejs %>
<% } %>
<button class = "btn btn-primary">Add </button>
<br/>
</hr>