<!--Dev-Team P4-2-->
<!--Rupraj Bhandari, Aadit Yadav-->
<hr>
<h2>Waterproofing Materials</h2>
<hr>
<div class="form-group">
<label for="subtotal">Waterproofing-specific materials subtotal</label>
<div class="funkyradio"  >
    <div class="funkyradio-primary">
	<input type="number" class="form-control" id="subtotal" name="subtotal" min=0 max=500000 required default=0>
    </div>
</div>
<!-- <% include ../estimateparts/fg-waterproofing1 %> -->
<!-- <% include ../estimateparts/fg-waterproofing3 %> -->
<!-- <% include ../estimateparts/fg-waterproofing_basecoat %> -->
