<br/>
<br/>
<h2>Details for roller</h2>
<br/>
<br/>
<p>Item
	<%=  rollers._id %>
</p>
<p>
	<%=  rollers.name %>
</p>
<p>
	<%=  rollers.price %> per
		<%=  rollers.unit %>
</p>
<br/>
<form method="get" action="/rollers">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>