<br/>
<br/>
<h2>Details for roller</h2>
<br/>
<br/>
<p>Item
	<%=  roller._id %>
</p>
<p>
	<%=  roller.name %>
</p>
<p>
	<%=  roller.price %> per
		<%=  roller.unit %>
</p>
<br/>
<form method="get" action="/roller">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>