<br/>
<br/>
<h2>Details for Brooms</h2>
<br/>
<br/>
<p>Item
	<%=  broom._id %>
</p>
<p>
	<%=  broom.name %>
</p>
<p>
	<%=  broom.price %> per

</p>
<br/>
<form method="get" action="/broom">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>