<br/>
<br/>
<h2>compressor details</h2>
<br/>
<br/>
<p>Item
	<%=  compressor._id %>
</p>
<p>
	<%=  compressor.name %>
</p>
<p>
	<%=  compressor.price %> per
		<%=  compressor.unit %>
</p>
<br/>
<form method="get" action="/compressor">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
 <!--Team 4-8(Dara Sandeep,Dhulipalla Tilak)-->